.archive .bs-example {
    margin-left: 30%;
    margin-right: 10%;
}

.archive table { 
    width: 100%; 
}

.archive th { 
    color: white; 
    background: #292f35;
    font-weight: bold; 
}

.archive td, .archive th {  
    border: 1px solid #ccc; 
    text-align: center;
}
