.users .bs-example {
    margin-left: 30%;
    margin-right: 10%;
    overflow: hidden;
}

.users img {
    padding: 2% 0;  
}

.users table { 
    width: 100%; 
}

.users th { 
    color: white; 
    background: #2e353d;
    font-weight: bold; 
}

.users td, .users th {  
    border: 1px solid #ccc; 
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .users thead th {
        display: none;
        font-size: smaller;
    }

    .users td {
        display: block;
        font-size: smaller;
    }

    .usersImage {
        width: 50%;
        height: 50%;
    }
}