.users .bs-example {
    margin: 5% 10% 0 30%;
    overflow: hidden;
}

.users img {
    padding: 2% 0;  
}

.users table { 
    width: 100%; 
}

.users th { 
    color: white; 
    background: #2e353d;
    font-weight: bold; 
}

.users td, .users th {  
    border: 1px solid #ccc; 
    text-align: center;
}

.users tr {
    height: 50px;
}

.status-style-registered { 
    background-color:#CEDB56;
}
  
.status-style-invited { 
    background-color:lightseagreen;
}

.status-style-registered, .status-style-invited {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .users thead th {
        display: none;
        font-size: smaller;
    }

    .users td {
        display: block;
        font-size: smaller;
    }

    .usersImage {
        width: 50%;
        height: 50%;
    }
}