.invitationForm  {
    overflow: hidden;
    margin-top: 8%;
    margin-left: 20%;
}

.invitation {
    float: left; 
    width: 30%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 5%;
}   

.invitationImage {
    padding: 5%;
    overflow: hidden;
}

.invitationImage img { 
    max-width: 100%;
    max-height: 100%;
}

.invitationButton {
    height: 50px;
    width: 50%;
    padding: 3% 0;
    font-size: 2vh;
    margin-top: 10%;
    margin-left: 25%;
    float: left;
    color:#fff;
    background: #31708f;
    border: 0;
    font-size: 2vh;
    font-weight: bold;
    box-shadow: 0 0 1px #ccc;
    -webkit-transform-origin: 50% 50%;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -webkit-box-shadow: 100px 0px 0 0 lightseagreen inset , -100px 0px 0 lightseagreen inset;
}

.invitationButton:hover {
    -webkit-box-shadow: 0px 0px 0 0 lightseagreen inset , 0px 0px 0 lightseagreen inset;
}

@media screen and (max-width: 800px) {
    .invitationButton {
        font-size: smaller;
        height: 40px;
    }

    .invitationImage { 
        float: none;
        width: auto;
        margin-right: 0;  
        width: 50%;
        height: 50%;
        margin-right: 10%;  
    }
}
