body {
    font-family: 'Ubuntu', sans-serif;
}

.register {
    width: 40%;
    height: auto;
    margin: 3% auto;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid rgba(180, 154, 154, 0.699);
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.register h1 {
    padding-top: 5%;
}

.registerEmail, .registerFirstName, .registerFirstName, .registerLastName, 
.registerPass, .registerConfirmPass, .registerPhone, .registerCode {
    text-align: center;
    color: rgb(38, 50, 56);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0.02);
    background: rgba(214, 214, 214, 0.192);
}

.registerEmail, .registerCode {
    width: 90%;
}

.registerFirstName, .registerFirstName, .registerLastName, 
.registerPass, .registerConfirmPass, .registerPhone {
    width: 80%;
}

.emailIcon, .codeIcon, .userIcon, .genderIcon, .phoneIcon, .passIcon {
    position: relative;
}

.emailIcon i, .codeIcon i, .userIcon i, .genderIcon i, .phoneIcon i, .passIcon i {
    color: rgb(114, 110, 110);
    position: absolute; 
}

.emailIcon .fa-envelope, .codeIcon .fa-key { 
    top: 15px;
    left: 6%;
}

.userIcon .fa-user, .genderIcon .fa-venus-mars , .phoneIcon .fa-phone, .passIcon .fa-lock {
    top: 15px;
    left: 11%;
} 

.radio-inline {
     display: inline-block; 
     width: 60px; 
}
 
.codeMsg {
    font-size: 12px;
}

.registerButton {
    width: 30%;
    padding: 2% 0;
    margin: 2% 0;
    font-size: 2.5vh;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    background-color: lightseagreen;
}

.registerButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.registerButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.registerButton:hover span {
    padding-right: 25px;
}
  
.registerButton:hover span:after {
    opacity: 1;
    right: 0;
}

.errorField {
    font-size: 1.9vh;
    font-style: italic;
    color: rgb(190, 81, 81)
}

@media only screen and (max-width: 600px) {
    .register {
        width: fit-content;
    }
}