body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #efefef !important;
}

.login {
    width: 50%;
    height: auto;
    padding-left: 20%;
    margin: 10% 25%;
    border-radius: 1.5em;
    border: 1px solid rgba(180, 154, 154, 0.699);
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    background-image: url("../../images/loginFont.png");
    background-position: left;
    background-size: cover;
}

.login h1 {
    padding: 10% 0;
}

.loginEmail, .loginPassword {
    width: 80%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    border: 3px solid rgba(0, 0, 0, 0.02);
    background: rgba(214, 214, 214, 0.192);
}

.loginEmail:focus, .loginPassword:focus {
    border: 2px solid rgba(0, 0, 0, 0.18);
}

.loginEmail::placeholder, .loginPassword::placeholder {
    color: #aaa;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.inputWithIcon { 
    position: relative; 
}

.inputWithIcon i {
    color: rgb(114, 110, 110);
    position: absolute; 
    top: 20%; 
    left: 12%; 
}

.logInButton {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    width: 30%;
    border-radius: 5em;
    padding: 2% 0;
    font-size: 2vh;
    margin-bottom: 20px;
    background: linear-gradient(to right, #38B1DF, #3381c0);
}

.forgotPass {
    color: #123d61;
    font-size: 16px;
    margin: 5% 0;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
}

a {
    color: #185280;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
}

@media (max-width: 500px) {
    .main {
        border-radius: 0px;
    }
}