.errorPage {
    top: 0%; 
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute; 
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
}

.errorPage img {
    width: 50%;
    height: 60%;
    margin-top: 10%;
    position: relative;
}